html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.header, .container
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header
{
  background-color: darkgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.container{
  display:flex;
  width: 1170px;
  justify-content: center;
  flex-direction: column;
  *
  {
    margin-bottom: 15px;
  }
}
