@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Source+Code+Pro:wght@500&display=swap');

// Variables con los datos que cambiaran dependiendo del tema utilizado
$fontPrimary: 'Chilanka', cursive;
$fontSecundary: "Source Code Pro", monospace;
$ShadowValues: -5px 10px 8px gray;
$bColorBase:#fe0000;
$bColorImportant:#3b0e0c;
$bColorWarning:#ffbfcd;


main {
    .content {
        .base {
            background-color: $bColorBase;
        }

        .important {
            background-color: $bColorImportant;
        }

        .warning {
            background-color: $bColorWarning;
        }

        .content-shadow {
            box-shadow: $ShadowValues;
        }

        .content-font {
             .font-primary {
                font-family: $fontPrimary;
            }

            .font-secundary {
                font-family: $fontSecundary;
            }
        }
    }
}
